.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  min-width: 500px;
  position: relative;
  background-color: var(--differ-color);
}

.section .teme-button {
  position: absolute;
  top: 0;
  right: 10px;
}
.section .inputs-container {
  font-size: 100px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.section input, .section span {
  background-color: transparent;
  border: none;
  width: 230px;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
}

.section .full-screen-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.section.full-screen span {
  font-size: 150px !important;
}

.section * {
  outline: none;
}
