:root {
  --main-color: hsl(0, 0%, 13%);
  --lite-main-color: hsl(0, 0%, 83%);
  --differ-color: #C8C8C8;
  --secondary-color: hsl(0, 0%, 30%);

  --main-text-color: var(--main-color);
  --secondary-text-color: hsl(0, 0%, 60%);

  --top-eadin-fs: 25px;
  --secondary-eadin-fs: 20px;
  --body-text-fs: 16px;
  --addi-text-fs: 12px;

  --main-rad: 2px;
  --sec-rad: 3px;

  --main-font-family: "Inter", sans-serif;
}

.lite-mode {
  --main-color: var(--lite-main-color);
  --differ-color: #232323;
  --secondary-color: hsl(0, 0%, 62%);

  --main-text-color: var(--main-color);
  --secondary-text-color: hsl(0, 0%, 33%);
}

body {
  font-family: var(--main-font-family);
  background-color: var(--main-color);
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: none;

  transition: background-color 1s ease;
}

body.dark-mode {
  animation: dark-mode 1s ease forwards;
}

@keyframes dark-mode {
  to {
    background-color: var(--main-color);
  }
}

body.lite-mode {
  animation: lite-mode 1s ease forwards;
}

@keyframes lite-mode {
  from {
    background-color: var(--main-color);
  }
  to {
    background-color: var(--lite-main-color);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
  color: var(--main-text-color) !important;
  font-weight: 600;
}

h1 {
  font-size: var(--top-eadin-fs);
}

h2 {
  font-size: var(--secondary-eadin-fs);
}

p {
  font-size: var(--body-text-fs);
  color: red;
}

span:not(.n-ec) {
  font-style: var(--addi-text-fs);
  color: var(--secondary-text-color);
}

button:not(.n-button),
a:not(.n-a) {
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  font-size: var(--body-text-fs);
  text-decoration: none;
  cursor: pointer;
}

div.backround {
  background-color: var(--differ-color);
}

div.main-rad {
  border-radius: var(--main-rad);
}

div.sec-rad {
  border-radius: var(--sec-rad);
}

/* .section {transition: 1s;} */
.full-screen {
  font-size: 150px;
}

.timer-button:not(.not-btn-style) {
  background-color: var(--main-color);
  color: var(--differ-color) !important;
  padding: 0.8rem 1.6rem;
  font-size: 20px;
  margin: 2rem 0 1rem;
}